/* nav */

#mainHTML-navigation {
  position: absolute;
  top: 1.5rem;
  left: -1.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#mainHTML-navigation img {
  height: 1rem;
}

/* header */

#mainHTML-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 3rem;
}

#mainHTML-header #challenger {
  color: var(--light-green);
  font-size: 0.7rem;
}

#mainHTML-header #greeting {
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3rem;
}

/* main */

#mainHTML-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainHTML-main #quiz-title {
  height: 9.5rem;
  margin-bottom: 3rem;
}

#mainHTML-main #quiz-descriptions {
  margin-bottom: 3rem;
  padding: 1.8rem 2.5rem;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  font-family: 'Pretendard-Regular';
  line-height: 2rem;
  background-color: var(--light-gray);
}

#quiz-descriptions .quiz-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

#quiz-descriptions .quiz-description::before {
  content: '';
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url('../../images/icons/check-box.svg');
  background-size: cover;
}

#mainHTML-main #start-button {
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: var(--light-green);
  text-decoration: none;
}

#start-button:hover,
#start-button:focus {
  opacity: 0.7;
  cursor: pointer;
}
