.navigation {
  position: fixed;
  top: 3px;
  width: 100%;
  margin: -5px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* timer */

#timer-container {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;
  left: 15px;
}

#home-in-timer {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 31px;
  left: 32px;
}

#timer {
  width: 5rem;
  height: 5rem;
}

#timer #gauge {
  stroke: #00f3b2;
  stroke-dasharray: 141.37;
  stroke-dashoffset: 0;
  fill: none;
  stroke-width: 10;
  stroke-width: 0.2rem;
}

#timer #inner-circle {
  stroke: #3c3b43;
  stroke-dasharray: 141.37;
  stroke-dashoffset: 141.37;
  fill: none;
  stroke-width: 0.2rem;
  transition: stroke-dashoffset 1s linear;
}

/* navigation title */

.navigation #navigation-title {
  height: 1.2rem;
}
