/* images */

#takeout-paper-cup,
#newspaper {
  height: 6.5rem;
  margin-bottom: 25px;
}

#receipt,
#seashell {
  width: 6rem;
}

/* quiz process */

.quiz-process-gauge {
  height: 4px;
  background: var(--light-green);
}

.quiz-1-process {
  width: 16.6%;
}

.quiz-2-process {
  width: 33.2%;
}

.quiz-3-process {
  width: 50%;
}

.quiz-4-process {
  width: 66.6%;
}

.quiz-5-process {
  width: 83.3%;
}

.quiz-6-process {
  width: 100%;
}
